@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Poppins";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #5e6282; // Цвет шрифта по умолчанию
$mainColorBlack: #14183e; // Цвет шрифта Черный
$mainColorRed: #df6951; // Цвет шрифта Красный
// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1160;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
//@import "home";
._icon-arrow:before {
	content: "\e900";
}
._icon-arrow-steps:before {
	content: "\e901";
}
._icon-faceboook:before {
	content: "\e902";
}
._icon-heart:before {
	content: "\e903";
}
._icon-home:before {
	content: "\e904";
}
._icon-instagram:before {
	content: "\e905";
}
._icon-location:before {
	content: "\e906";
}
._icon-map:before {
	content: "\e907";
}
._icon-sheet:before {
	content: "\e908";
}
._icon-twitter:before {
	content: "\e909";
}

// ===========================================================================
.first {
	padding-top: 105px;

	background: url("@img/first/decor.svg") top right no-repeat;
	// .first__container
	&__container {
	}
	// .first__body
	&__body {
		display: flex;
		position: relative;
		align-items: center;
		row-gap: 10px;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .first__content
	&__content {
		@media (min-width: $mobile) {
			padding-top: 112px;
			flex: 0 1 630px;
			position: relative;
		}
		align-self: center;
		position: relative;
		z-index: 5;
	}
	// .first__subtitle
	&__subtitle {
		color: $mainColorRed;
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(30, 20);
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	// .first__title
	&__title {
		font-family: Volkhov;
		@include adaptiveValue("font-size", 84, 35);
		line-height: math.div(89, 84);
		letter-spacing: -0.04em;
		color: #181e4b;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		span {
			position: relative;
			background: url("@img/first/Decor-line.svg") center 80% / contain no-repeat;
		}
	}
	// .first__description
	&__description {
		font-weight: 500;
		font-size: 16px;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(30, 16);
		max-width: 477px;
		&:not(:last-child) {
			margin-bottom: 34px;
		}
	}
	// .first__more
	&__more {
		display: flex;
		& > :not(:last-child) {
			@include adaptiveValue("margin-right", 44, 20);
		}
	}
	// .first__button
	&__button {
		font-family: GoogleSans;
		font-size: 18px;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(23, 18);
		text-align: center;
		color: #ffffff;
		padding: 18px 26px;
		@include adaptiveValue("padding-right", 26, 10);
		@include adaptiveValue("padding-left", 26, 10);
		background: #f1a501;
		box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
		border-radius: 10px;
	}
	// .first__play-video
	&__play-video {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 17px;
		@include adaptiveValue("font-size", 17, 14);
		line-height: math.div(26, 17);
		color: #686d77;
	}
	&__play-img {
		height: 52px;
		flex: 0 0 52px;
		background: #df6951;
		box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			flex: 1 0 auto;
		}
	}
	&__box {
		display: flex;
		align-items: center;
		& > :not(:last-child) {
			margin-right: 52px;
		}
	}

	// .first__image
	&__image {
		img {
			max-width: 100%;
			@media (max-width: 1100px) {
				max-width: 85%;
			}
			@media (max-width: 1000px) {
				max-width: 75%;
			}
		}
		@media (min-width: $mobile) {
			flex: 0 1 60%;
			position: absolute;
			top: 0;
			right: 0;
			max-width: 100%;
			transform: translate(50px, 0);
			@media (max-width: 1100px) {
				transform: translate(150px, 0);
			}
		}
	}
}
// =====================================================================================
.category {
	padding-top: 105px;
	@include adaptiveValue("padding-bottom", 156, 40);
	// .category__container
	&__container {
		position: relative;
		&::before {
			content: "";
			background: url("@img/category/decor.svg") top right no-repeat;
			width: 153px;
			height: 166px;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(50%, 0);
		}
	}
	// .category__title-block
	&__title-block {
		&:not(:last-child) {
			margin-bottom: 66px;
		}
	}
	// .category__body
	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		flex-wrap: wrap;
	}
	// .category__item
	&__item {
		display: flex;
		flex: 1 0 230px;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 0px 43px 45px 43px;
		border-radius: 36px;
		position: relative;
		background: #ffffff;
		transition: all 0.5s ease 0s;
		position: relative;
		&:hover {
			transition: all 0.5s ease 0s;
			box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
			&::before {
				content: "";
				width: 100px;
				height: 100px;
				background: $mainColorRed;
				border-radius: 30px 0px 10px;
				position: absolute;
				bottom: -33px;
				left: -35px;
				z-index: -1;
			}
		}
	}
	// .category__img
	&__img {
		min-height: 153.33px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 29px;
		}
		img {
		}
	}
	// .category__heading
	&__heading {
		font-family: OpenSans;
		font-weight: 600;
		font-size: 20px;
		line-height: math.div(27, 20);
		color: #1e1d4c;
		flex: 1 1 auto;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	// .category__description
	&__description {
		font-weight: 500;
		line-height: math.div(26, 16);
	}
}
// ===================================================================
.title-block {
	position: relative;
	z-index: 10;
	text-align: center;
	& > :not(:last-child) {
		margin-bottom: 10px;
	}
	// .title-block__subtitle
	&__subtitle {
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(27, 18);
		text-align: center;
	}
	// .title-block__title
	&__title {
		font-family: Volkhov;
		font-weight: 700;
		@include adaptiveValue("font-size", 50, 30);
		line-height: math.div(64, 50);
		text-transform: capitalize;
		color: $mainColorBlack;
	}
}
.selling {
	@include adaptiveValue("padding-bottom", 156, 40);
	// .selling__container
	&__container {
	}
	// .selling__title-block
	&__title-block {
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}
	// .selling__body
	&__body {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 35px;
	}
	// .selling__item
	&__item {
		display: flex;
		flex: 1 0 220px;
		max-width: 315px;
		flex-direction: column;
		background: #ffffff;
		filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
		border-radius: 24px;
	}
	// .selling__img
	&__img {
		img {
			max-width: 100%;
		}
	}
	// .selling__content
	&__content {
		padding: 27px 25px 42px 20px;
	}
	// .selling__box
	&__box {
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 18px;
		line-height: 124.5%;
		& > :not(:last-child) {
			margin-right: 20px;
		}
		&:not(:last-child) {
			margin-bottom: 19px;
		}
	}
	// .selling__location
	&__location {
	}
	// .selling__price
	&__price {
	}
	// .selling__time
	&__time {
		font-size: 16px;
		display: flex;
		column-gap: 14px;
		& > :not(:last-child) {
			margin-right: 14px;
		}
	}
}
// =====================================================================
.steps {
	@include adaptiveValue("padding-bottom", 156, 40);
	// .steps__container
	&__container {
	}
	// .steps__body
	&__body {
		display: flex;
		column-gap: 20px;
		align-items: center;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			row-gap: 30px;
		}
	}
	// .steps__content
	&__content {
		flex: 0 1 511px;
	}
	// .steps__title-block
	&__title-block {
		text-align: left;
		& > .title-block__subtitle {
			text-align: left;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .steps__item
	&__item {
		display: flex;
		align-items: center;
		max-width: 395px;
		& > :not(:last-child) {
			margin-right: 21px;
		}
		&:not(:last-child) {
			margin-bottom: 48px;
		}
	}
	// .steps__img
	&__img {
		img {
			max-width: 100%;
		}
	}
	// .steps__block-text
	&__block-text {
		& > :not(:last-child) {
			margin-bottom: 4px;
		}
	}
	// .steps__heading
	&__heading {
		line-height: 124.5%;
		font-weight: 700;
	}
	// .steps__description
	&__description {
		line-height: 124.5%;
	}
	// .steps__cart
	&__cart {
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
	}
}
.cart-steps {
	padding: 20px 24px 31px;
	background: #ffffff;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
	border-radius: 26px;
	position: relative;
	&::before {
		content: "";
		background: #59b1e6;
		opacity: 0.8;
		filter: blur(150px);
		width: 354px;
		height: 354px;
		position: absolute;
		top: -59px;
		right: -71px;
		z-index: -1;
	}
	// .cart-steps__img
	&__img {
		border-radius: 24px;
		&:not(:last-child) {
			margin-bottom: 26px;
		}
		img {
			max-width: 100%;
		}
	}
	// .cart-steps__heading
	&__heading {
		font-weight: 500;
		font-size: 18px;
		line-height: 124.5%;
		letter-spacing: 0.015em;
		color: #080809;
		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}
	// .cart-steps__box
	&__box {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		& > :not(:last-child) {
			margin-bottom: 21px;
		}
	}
	// .cart-steps__text
	&__text {
		font-weight: 500;
		line-height: 124.5%;
		letter-spacing: -0.005em;
		color: #84829a;
	}
	// .cart-steps__links
	&__links {
		display: flex;
		> a {
			width: 36px;
			height: 36px;
			background: #f5f5f5;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease 0s;
			&:hover {
				transform: scale(1.2);
				color: black;
			}
		}
		& > :not(:last-child) {
			margin-right: 18px;
		}
	}
	// .cart-steps__sheet
	&__sheet {
	}
	// .cart-steps__map
	&__map {
	}
	// .cart-steps__location
	&__location {
	}
	// .cart-steps__people
	&__people {
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		line-height: 124.5%;
		letter-spacing: -0.02em;
		color: #84829a;
		& > :not(:last-child) {
			margin-bottom: 15px;
		}
	}
	// .cart-steps__human
	&__human {
		display: flex;
		align-items: center;
		column-gap: 15px;
	}
	// .cart-steps__like
	&__like {
		transition: all 0.3s ease 0s;
		&:hover {
			color: $mainColorRed;
		}
	}
}
// =====================================================================
.brands {
	@include adaptiveValue("padding-bottom", 111, 40);
	// .brands__container
	&__container {
	}
	// .brands__slider
	&__slider {
	}
	// .brands__wrapper
	&__wrapper {
	}
	// .brands__swiper-wrapper
	&__swiper-wrapper {
		align-items: center !important;
	}
	// .brands__slide
	&__slide {
	}
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	&.swiper-slide-active {
		background: #ffffff;
		box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
		border-radius: 10px;
	}
}

// =====================================================================
.subscribe {
	@include adaptiveValue("padding-bottom", 166, 50);

	// .subscribe__container
	&__container {
		position: relative;
		&::after {
			content: "";
			width: 70px;
			height: 70px;
			position: absolute;
			top: -13px;
			right: -20px;
			background: url("@img/subscribe/fb.svg") 0 0 no-repeat;
		}
		&::before {
			content: "";
			width: 153px;
			height: 166px;
			z-index: -1;
			position: absolute;
			bottom: -70px;
			right: -99px;
			background: url("@img/subscribe/krest.svg") 0 0 no-repeat;
		}
	}
	// .subscribe__body
	&__body {
		padding: 80px 0;
		text-align: center;
		background: rgba(223, 215, 249, 0.2);
		border-radius: 20px 0px 20px 20px;
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		@media (max-width: $mobile) {
			margin: 0 -15px;
		}
		&::before {
			content: "";
			background: url("@img/subscribe/decor-left.svg") left bottom / 100% no-repeat;
			width: 389px;
			height: 389px;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			opacity: 0.1;
		}
		&::after {
			content: "";
			background: url("@img/subscribe/decor-right.svg") center / 100% no-repeat;
			width: 284px;
			height: 389px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
			opacity: 0.1;
		}
	}
	// .subscribe__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 33, 18);
		line-height: math.div(54, 33);
		max-width: 860px;
		&:not(:last-child) {
			margin-bottom: 74px;
		}
	}
	// .subscribe__form
	&__form {
		@media (min-width: $mobile) {
			max-width: 860px;
			display: flex;
			justify-content: center;
		}
		@media (min-width: $mobile) {
			& > :not(:last-child) {
				margin-right: 24px;
			}
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			padding: 0 15px;
			& > :not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	// .subscribe__input
	&__input {
		background: #ffffff;
		border-radius: 10px;
		font-size: 14px;
		line-height: math.div(17, 14);
		color: #39425d;
		min-height: 68px;
		width: 100%;
		@media (min-width: $mobile) {
			min-width: 421px;
		}

		&::placeholder {
			font-size: 14px;
			line-height: math.div(17, 14);
			color: #39425d;
			min-height: 68px;
			padding: 10px 31px;
		}
		&:focus {
			padding: 10px 31px;
			outline: none;
			opacity: 1;
			transition: all 0.3s ease 0s;
		}
	}
	// .subscribe__button
	&__button {
		font-family: "OpenSans";
		font-weight: 600;
		font-size: 17px;
		line-height: 23px;
		text-align: center;
		color: #ffffff;
		padding: 22px 50px;
		background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
		border-radius: 10px;
		min-height: 68px;
	}
}

// =====================================================================
